/* page.module.css */
.page {
    color: black;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

.titulo {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}


.botao {
    color: #007bff;
    background: none;
    border: none;
    text-decoration: underline;
    cursor: pointer;
    margin-top: 10px;
}